.input-text {
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-text label {
    color: #757575;
    display: block;
}

.input-text .input-span {
    padding: 5px 10px;
    border: 1px solid#757575;
    border-radius: 5px;
    color: #757575;
    width: 100%;
    height: 34px;
}

.input-text .input-disabled {
    border: 1px solid#d0d0d0;
}
