.top_menu ul {
    margin-bottom: 0px;
}

.top_menu li {
    list-style-type: none;
    float: left;
    padding: 10px 40px 10px 0px;
}

.main_menu a:hover,
.main_menu a:focus {
    background: #ed1c24;
}

.top_section {
    background: #00bcd4;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.header_gray {
    font-size: 25px;
    color: #757575;
    margin-top: 15px;
    margin-left: 25px;
}
