.toolbar {
    background-color: rgb(232, 232, 232);
    padding: 5px 10px;
    margin: 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.toolbar-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.toolbar-coll {
    margin-right: 10px;
    display: inline-block;
}

.toolbar-input-text {
    display: inline-block;
}

.toolbar-input-text label {
    float: left;
    line-height: 34px;
    color: #757575;
    font-weight: normal;
    padding: 0px 6px;
    margin-bottom: 0px;
}

.toolbar-input-text .toolbar-input-span {
    padding: 5px 10px;
    border: 1px solid#757575;
    border-radius: 5px;
    color: #757575;
    height: 34px;
}

.toolbar-input-text .toolbar-input-disabled {
    border: 1px solid#d0d0d0;
}

.input-full {
    width: 100%;
}

.input-small {
    width: 85px;
}

.input-middle {
    width: 200px;
}

