.white {
    color: white;
}

.gray,
.gray:hover,
.gray:focus {
    color: #333;
}

.light-gray,
.light-gray:hover,
.light-gray:focus {
    color: #676666;
}

.button {
    padding: 5px 20px;
    transition: 0.2s;
}

.button-blue {
    background: #00bcd4;
    color: white;
    border: 0px solid;
    padding: 5px 20px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.button-blue:hover,
.button-blue:focus {
    background: #66D7E5;
}

.button-toolbar {
    color: #757575;
    margin-right: 10px;
    background: #e8e8e8;
    border: 0px;
}

.button-toolbar:hover,
.button-toolbar:focus {
    color: black;
}

.button-toolbar-right {
    float: right;
    margin: 0;
    margin-left: 10px;
}
