body {
    font-size: 16px;
    font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    font-size: 16px;
    color: white;
}

a:hover,
a:focus {
    color: white;
}