.container_product_load_img {
    height: 300px;
}

.block_load_img {
    height: 300px;
    display: table;
    width: 100%;
}

.preview_load_img {
    display: table-cell;
    width: 100%;
    height: 100%;
    background: #99e4ee;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.preview_img {
    position: relative;
    display: table-cell;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    text-align: center;
    vertical-align: middle;
}

.preview_img img {
    border-radius: 15px;
    width: 100%;
}

.close_upload_img {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 10px;
    color: #757575;
    background: white;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.close_upload_img:hover,
.close_upload_img:focus {
    color: black;
}
